@import 'reset.css';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', sans-serif;
}

.content {
	background: radial-gradient(rgb(235,235,235) 3px, transparent 4px), radial-gradient(rgb(235,235,235) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, rgb(235,235,235) 75px, rgb(235,235,235) 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, rgb(235,235,235) 76px, rgb(235,235,235) 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	padding: 5rem;
}

.content .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding-bottom: 3.2rem;
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
}

.content .header > :first-child {
	width: 100%;
	max-width: 75%;
	flex-basis: 75%;
}
.content .header > :last-child {
	width: 100%;
	max-width: 25%;
	flex-basis: 25%;
	text-align: right;
}

.content .flex {
	display: flex;
	padding-top: 2rem;
	justify-content: space-between;
}

.content .flex > :first-child, .content .flex > :last-child  {
	width: 100%;
	max-width: calc(50% - 1rem);
	flex-basis: calc(50% - 1rem);
}

.content .flex img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
}

.content h1 {
	font-size: 3.5rem;
	line-height: 3.5rem;
}

.content .date {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.content .summary {
	font-size: 1rem;
	line-height: 1.2rem;
}
.content .summary p {
	margin-top: 1rem;
}
.content .summary p:first-child {
	margin-top: 0;
}

.content img.hdimg {
	width: 100%;
	margin-top: 3rem;
	object-fit: contain;
}

.asteroid {
	padding: 1rem 0;
	font-size: 1rem;
	line-height: 1.2rem;
	border-bottom: 1px solid #000;
}